* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: hsl(30, 38%, 92%);
}

#product {
  width: 100%;
  max-width: 650px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bg-image {
  width: 50%;
}

.bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  padding: 1.5em 2em;
  width: 50%;
}

.description h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
  font-size: 15px;
}

.description h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 35px;
  color: hsl(212, 21%, 14%);
}

.description p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
}

.description h4 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 30px;
  color: hsl(158, 36%, 37%);
  position: relative;
}

.description span {
  font-size: 14px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1em;
}

.description button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 1em;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.description button:hover{
    background: hsl(158, 36%, 22%);
}
.mar {
  margin-bottom: 1em;
}

.wehriuwar {
  color: hsl(158, 36%, 37%);
  color: hsl(30, 38%, 92%);
  color: hsl(212, 21%, 14%);
  color: hsl(228, 12%, 48%);
  color: hsl(0, 0%, 100%);
}
